<?xml version="1.0"?>
<launch>
	<!-- Load several urdf models in defferent namespaces -->

	<group ns="robot1">        
		<!-- send youbot urdf to param server -->	
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot_arm.urdf.xacro'"/>	
		<remap from="joint_states" to="youbot_arm_state"/>

		<!-- start robot_state_publisher -->
  		<node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />
	</group>

	<group ns="robot2">        
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot_base.urdf.xacro'"/>	
		<remap from="joint_states" to="youbot_arm_state"/>

		<!-- start robot_state_publisher -->
  		<node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />
	</group>

	<group ns="robot3">        
		<param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot.urdf.xacro'"/>	
		<remap from="joint_states" to="youbot_arm_state"/>

		<!-- start robot_state_publisher -->
  		<node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />
	</group>
</launch>
