<?xml version="1.0"?>
<robot>

	<!-- common properties -->
	<property name="M_PI" value="3.1415926535897931" />
        <property name="threshold" value="0.01" />

	<!-- arm limits positions (deg) -->
	<property name="joint_1_limit" value="${M_PI * (169 + 169) / 180}" />
	<property name="joint_2_limit" value="${M_PI * (90 + 65) / 180}" />
	<property name="joint_3_limit" value="${M_PI * (146 + 151) / 180}" />
	<property name="joint_4_limit" value="${M_PI * (102.5 + 102.5) / 180}" />
	<property name="joint_5_limit" value="${M_PI * (167.5 + 167.5) / 180}" />

        <property name="joint_1_limit_soft" value="${M_PI * (169 + 169) / 180 - threshold}" />
	<property name="joint_2_limit_soft" value="${M_PI * (90 + 65) / 180 - threshold}" />
	<property name="joint_3_limit_soft" value="${M_PI * (146 + 151) / 180 - threshold}" />
	<property name="joint_4_limit_soft" value="${M_PI * (102.5 + 102.5) / 180 - threshold}" />
	<property name="joint_5_limit_soft" value="${M_PI * (167.5 + 167.5) / 180 - threshold}" />

	<!-- dynamic properties : mass (kg)  -->
	<property name="link_0_mass" value="0.845" />
	<property name="link_1_mass" value="2.412" />
	<property name="link_2_mass" value="1.155" />
	<property name="link_3_mass" value="0.934" />
	<property name="link_4_mass" value="0.877" />
	<property name="link_5_mass" value="0.251" />
	<!-- TODO: add inertia tensor-->
  
</robot>
