<?xml version="1.0"?>
<launch>
   
	<node pkg="pr2_dashboard_aggregator" type="dashboard_aggregator.py" name="youbot_dashboard_aggregator" output="screen">
        <remap from="/power_state" to="/dashboard/power_state" />
        <remap from="/power_board/state" to="/dashboard/platform_state" />
    </node>
    
</launch>
