<?xml version="1.0"?>
<launch>
	
	<!-- start base command republisher -->
	<node name="base_command_republisher" pkg="youbot_description" type="base_command_republisher" output="screen"/>-->
	
        <!-- start gazebo -->
	<param name="/use_sim_time" value="true" />
	<node name="gazebo" pkg="gazebo" type="gazebo" args="$(find gazebo_worlds)/worlds/empty.world" respawn="false" output="screen">
		<env name="GAZEBO_RESOURCE_PATH" value="$(find youbot_description):$(find gazebo_worlds):$(find gazebo)/gazebo/share/gazebo" />
		<remap from="scan_front" to="base_scan"/>
                <remap from="/base_odometry/odom" to="/odom" />
	</node>


	<!-- send youbot urdf to param server -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot_base.urdf.xacro'"/>

	<!-- push robot_description to factory and spawn robot in gazebo -->
	<node name="youbot_gazebo_model" pkg="gazebo" type="spawn_model" args="-urdf -param robot_description -model youBot -x 0 -y 0 -z 0.3" respawn="false" output="screen" />

        <include file="$(find youbot_description)/launch/control/youbot_base_control.launch" />
</launch>
