<?xml version="1.0"?>

<!--

This launch file starts the ROS wrapper for the KUKA youBot API.


If you receive an error message that contains "Excecute as root"
then go to the bin folder and execute: sudo setcap cap_net_raw+ep
or enable the USE_SETCAP flag in the cmake file and recompile again.
-->

<launch>

	<!-- Set relevant parameters. -->
	<param name="youBotHasBase" type="bool" value="true"/>
	<param name="youBotHasArm" type="bool" value="true"/> 
	<param name="youBotDriverCycleFrequencyInHz" type="double" value="100.0"/>
	<param name="trajectoryActionServerEnable" type="bool" value="true"/>
        <param name="trajectoryVelocityGain" type="double" value="1.0"/>
        <param name="trajectoryPositionGain" type="double" value="0.2"/>
   
	<!-- Start the driver. NOTE: Every joint topic is mapped mapped to /joint_states, for convenience.
	In case one wants to keep the default name just comment out the remap statements. -->
	<node name="youbot_oodl_driver" pkg="youbot_oodl" type="youbot_oodl" output="screen">
		<remap from="base/joint_states" to="joint_states"/> 
		<remap from="arm_1/joint_states" to="joint_states" /> 
		<!--<remap from="arm_2/joint_states" to="joint_states" />-->
	</node>

</launch>

