<?xml version="1.0"?>

<!--

This launch file starts the ROS wrapper for the KUKA youBot API.


If you receive an error message that contains "Excecute as root"
then go to the bin folder and execute: sudo setcap cap_net_raw+ep
or enable the USE_SETCAP flag in the cmake file and recompile again.
-->

<launch>
	<param name="youBotHasBase" type="bool" value="true"/>
	<param name="youBotHasArm" type="bool" value="true"/> 
	<param name="youBotDriverCycleFrequencyInHz" type="double" value="50.0"/>

	<node name="youbot_oodl_driver" pkg="youbot_oodl" type="youbot_oodl" output="screen">
		
	</node>

	

</launch>

