<?xml version="1.0"?>
<launch>
	<!-- load the robot description file -->
	<!-- <param name="robot_description" command="cat '$(find youbot_model)/urdf/youbot.urdf'" /> -->
	<param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot.urdf.xacro'"/>
		<!-- remap from="joint_states" to="youbot_state"/> -->
	
	<!-- start robot_state_publisher assuming /joint_states is the default topic -->
	<node pkg="robot_state_publisher" type="joint_state_publisher" name="robot_state_publisher" output="screen"/>
	
	<!-- start robot_state_publisher assuming /joint_states is not the default topic and the drivers default topics are used -->
	<!--
	<node pkg="robot_state_publisher" type="state_publisher" name="robot_arm_state_publisher" output="screen">
		<remap from="joint_states" to="arm_1/joint_states"/> 
	</node>

	<node pkg="robot_state_publisher" type="state_publisher" name="robot_base_state_publisher" output="screen">
		<remap from="joint_states" to="base/joint_states"/> 
	</node>
	-->
	
</launch>
