<?xml version="1.0"?>

<!--

This launch file starts the ROS wrapper for the KUKA youBot API.


If you receive an error message that contains "Excecute as root"
then go to the bin folder and execute: sudo setcap cap_net_raw+ep
or enable the USE_SETCAP flag in the cmake file and recompile again.
-->

<launch>

	<!-- Set relevant parameters. -->
	<param name="youBotHasBase" type="bool" value="false"/>
	<param name="youBotHasArms" type="bool" value="true"/> 
	<param name="youBotDriverCycleFrequencyInHz" type="double" value="50.0"/>


	<!-- 
	  Initialize youBot arms by name. Each named arm must have a matching config
	  file. For example, the entry:	 
		  <param name="youBotArmName1" type="str" value="MyArm"/>
	  will attempt to initialize an arm using the config file "MyArm.cfg" in your
	  default configuration path.

	  To initialize multiple arms, simply define parameters naming each of them,
	  beginning with the parameter "youBotArmName1", then "youBotArmName2", etc.
	-->
	
	<!-- Default name values --> 
	<param name="youBotBaseName" type="str" value="youbot-base"/>
	<param name="youBotArmName1" type="str" value="youbot-manipulator"/>
	

	<!-- Start the driver. NOTE: Every joint topic is mapped to armName/joint_states -->
	<node name="youbot_oodl_driver" pkg="youbot_oodl" type="youbot_oodl" output="screen"/>


        <!-- start robot state publishers (REPLACES NEED FOR SEPARATE youbot_description LAUNCH FILES) -->

	<!-- When customizing this for your robot setup, make sure you have a group defined for each base or arm
	     that is defined above. -->

	<group ns="youbot-base">
	        <param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot_base.urdf.xacro'"/>
	        <param name="publish_frequency" type="double" value="50.0" />
	        <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub" />
	</group>

        <group ns="youbot-manipulator">
        	<param name="robot_description" command="$(find xacro)/xacro.py '$(find youbot_description)/robots/youbot_arm.urdf.xacro'"/>
                <node pkg="robot_state_publisher" type="state_publisher" name="rob_st_pub"/>
        </group>


</launch>

