<launch>

<!-- Arguments required by the node -->
<!-- No of regions of interests to be extracted -->
<!-- Maximum number of object to be found in each ROI -->
<!-- HSV-Limits Configuration Files with full path -->
<!-- Region Labes used by the nodes to publish the transforms -->

	<node name="poseEstimator6D" pkg="perception_sdk_ros_pkg" type="poseEstimator6D" 
					args="1 2 $(find perception_sdk_ros_pkg)/redRoiConfig.cfg red" />

</launch>