<?xml version="1.0"?>
<robot xmlns:sensor="http://playerstage.sourceforge.net/gazebo/xmlschema/#sensor"
       xmlns:controller="http://playerstage.sourceforge.net/gazebo/xmlschema/#controller"
       xmlns:interface="http://playerstage.sourceforge.net/gazebo/xmlschema/#interface"
       xmlns:xacro="http://ros.org/wiki/xacro">

	<xacro:macro name="youbot_gripper_gazebo" params="name">

		<gazebo reference="${name}_palm_link">
			<material>Gazebo/Black</material>
			<turnGravityOff>true</turnGravityOff>
			<selfCollide>false</selfCollide>
		</gazebo>
	
		<gazebo reference="${name}_finger_link_l">
			<material>Gazebo/Black</material>
			<turnGravityOff>true</turnGravityOff>
			<selfCollide>false</selfCollide>
		</gazebo>
	
		<gazebo reference="${name}_finger_link_r">
			<material>Gazebo/Black</material>
			<turnGravityOff>true</turnGravityOff>
			<selfCollide>false</selfCollide>
		</gazebo>
	
	</xacro:macro>

</robot>
