<?xml version="1.0"?>
<robot>

	<!-- common properties -->
	<property name="M_PI" value="3.1415926535897931" />
        <property name="threshold" value="0.001" />

	<!-- fingers limits, values are in meters -->
	<property name="finger_joint" value="${0.023 / 2.0}" />	
	<property name="finger_joint_soft" value="${(0.023 - threshold) / 2.0}" />	
   
	
</robot>
